@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono&family=Inconsolata&display=swap");
/* default is light mode */
:root {
    --color-background: #eeeeee;
    --color-primary: #00adb5;
    --color-secondary: #393e46;
    --color-text: #222831;
    --color-fade: rgba(0, 0, 0, 0.2);
    --color-overlay: rgba(0, 0, 0, 0.1);
    --color-overlay-dk: rgba(0, 0, 0, 0.7);
    --color-gradient-bt: #4158d0 0%, #c850c0 46%, #ffcc70 100%;
    --color-gradient-lr: #00dbde 0%, #fc00ff 100%;
    --color-gradient-as: #3245ff 0%, #bc52ee 100%;
    --color-error: #f55050;
    --noise: url(/media/noise.webp);
}

:root[theme="dark"] {
    --color-background: #222831;
    --color-primary: #393e46;
    --color-secondary: #00adb5;
    --color-text: #eeeeee;
    --color-fade: rgba(255, 255, 255, 0.2);
    --color-overlay: rgba(255, 255, 255, 0.2);
}

body {
    --font-strong: "Chivo Mono", monospace;
    --font-paragraph: "Inconsolata", monospace;
    font-family: var(--font-paragraph);
    -webkit-font-smoothing: antialiased;
}
