---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import ServiceReferences from "../components/ServiceReferences.astro";
import ProjectsCarousel from "../components/ProjectsCarousel.astro";

const hero_img = "https://picsum.photos/1920/1080";
const service_img = "https://picsum.photos/1920/1080?grayscale";
---

<Layout title="SciLab">
    <Header />
    <main>
        <article class="hero" style={`--bg-url: url(${hero_img})`}>
            <h1>
                <i>Tempor dolore ipsum</i>
                <b>Reprehenderit consectetur pariatur deserunt</b>
            </h1>
            <p>
                Sunt adipisicing Lorem nulla nostrud reprehenderit laboris elit
                ex mollit et voluptate Lorem labore amet.
            </p>
            <div class="hero__references">
                <a href="/blog" use-arrow>View our posts</a>
                <a href="/research">Research</a>
            </div>
        </article>
        <article class="services">
            <h1 class="services__header">
                Our Service
                <div>
                    <button id="previous__service">←</button>
                    <button id="next__service">→</button>
                </div>
            </h1>
            <ServiceReferences class="services__references" client:visible />
            <div class="services__image">
                <img src={service_img} alt="service" />
            </div>
            <h2>
                Ad veniam ullamco fugiat reprehenderit incididunt elit deserunt
                eu non. Dolor pariatur velit anim aute nisi dolor qui. Eu
                laboris sit culpa est nulla consectetur aliquip consectetur non.
            </h2>
			<a href="/services" use-arrow>Discover our missions</a>
			<ProjectsCarousel class="services__carousel"/>
        </article>
    </main>
</Layout>
<script>
    let services_show_controller = {
        prev: document.getElementById("previous__service"),
        next: document.getElementById("next__service"),
    };
    // services_show_controller.prev.addEventListener("onclick", lastService);
    // services_show_controller.next.addEventListener("onclick", nextService);
    // let counter = 0;
    // function nextService() {
    // 	counter++;
    // }
    // function lastService() {
    // 	counter--;
    // }
</script>

<style>
    main {
        width: 100%;
    }
    article {
        position: relative;
        padding: 0 var(--padding-lr);
        margin-bottom: var(--margin-bt-large);
    }
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 50%;
        text-shadow: var(--shadow-txt) var(--color-background);
    }
    .hero::before,
    .hero::after {
        content: "";
        position: absolute;
        inset: calc(var(--radius-large) / -2) -5% calc(var(--radius-large) / -2) 40%;
        z-index: -1;
    }
    .hero::before {
        border-radius: var(--radius-large) 0 0 var(--radius-large);
        background-image: var(--bg-url);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
		background-color: var(--color-text);
    }
    .hero::after {
        transform: scale(110%);
        box-shadow: inset 0 0 3rem 6rem var(--color-background);
    }
    .hero > p {
        padding-right: 30%;
        margin-bottom: var(--margin-bt-normal);
    }
    .hero__references {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .hero__references > a {
        padding: var(--padding-bt);
        border: 2px solid var(--color-secondary);
        border-radius: 3rem;
    }
    .hero__references > a:first-child {
        background-color: var(--color-secondary);
        text-shadow: none;
        color: var(--color-background);
    }
    .services__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #previous__service,
    #next__service {
        font-size: 4rem;
        line-height: 4rem;
        margin-left: 1rem;
        cursor: pointer;
    }
    #next__service {
        line-height: 3rem;
        padding: 0.2rem 2rem 0.7rem 2rem;
        border-radius: 3rem;
        background-color: var(--color-overlay);
    }
    .services__references {
        --content-gap: 2rem;
        --border-width: 3px;
        margin: var(--margin-bt-normal) 0 var(--margin-bt-normal) 0;
        position: relative;
        display: flex;
        overflow: hidden;
        width: 100%;
        gap: var(--content-gap);
        padding: 2rem 0 0 2rem;
    }
    .services__references :global(p) {
        flex: 1 0 calc(50% - var(--content-gap));
    }
    .services__references::before,
    .services__references::after {
        content: "";
        position: absolute;
        inset: 0;
    }
    .services__references::before {
        border: var(--border-width) solid transparent;
        background: linear-gradient(var(--color-secondary), transparent 50%),
            border-box;
        background-size: calc(100% + var(--border-width) * 2)
            calc(100% + var(--border-width) * 2);
        background-position: center;
        -webkit-mask: linear-gradient(#fff 0 0) padding-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        border-radius: var(--radius-normal);
        mask-composite: exclude;
    }
    .services__references::after {
        background-image: linear-gradient(
            to top,
            var(--color-background),
            transparent 50%
        );
    }
    .services__image {
		position: relative;
        overflow: hidden;
    }
    .services__image > img {
		width: 100%;
        aspect-ratio: 16 / 9;
        border-radius: var(--radius-large);
		object-fit: cover;
        object-position: center;
    }
    .services__image::after {
        content: "";
        position: absolute;
        inset: 0;
        transform: scale(105%);
        box-shadow: inset 0 0 3rem 6rem var(--color-background);
    }
    .services > h2 {
		padding: 1rem calc(var(--padding-lr) * 2);
        text-align: center;
    }
	.services > a {
		padding: var(--padding-bt);
		color: var(--color-background);
		background-color: var(--color-text);
		border-radius: var(--radius-large);
	}
</style>
