---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import ServiceReferences from "../components/ServiceReferences.astro";
import ProjectsCarousel from "../components/ProjectsCarousel.astro";
import ImageCarousel from "../components/ImageCarousel.astro";
import Contact from "../components/Contact.astro";

const hero_img = "https://picsum.photos/1920/1080";
const service_img = "https://picsum.photos/1920/1080?grayscale";

const roadmap_imgs = [
    {
        src: "https://picsum.photos/500/300",
        alt: "A picsum image",
    },
    {
        src: "https://picsum.photos/1080/720",
        alt: "A picsum image",
    },
    {
        src: "https://picsum.photos/200/200",
        alt: "A picsum image",
    },
    {
        src: "https://picsum.photos/400/300",
        alt: "A picsum image",
    },
    {
        src: "https://picsum.photos/350/350",
        alt: "A picsum image",
    },
    {
        src: "https://picsum.photos/200/200",
        alt: "A picsum image",
    },
];
---

<Layout title="SciLab">
    <Header />
    <main>
        <article class="hero" style={`--bg-url: url(${hero_img})`}>
            <h1>
                <i>Tempor dolore ipsum</i>
                <b>Reprehenderit consectetur pariatur deserunt</b>
            </h1>
            <p>
                Sunt adipisicing Lorem nulla nostrud reprehenderit laboris elit
                ex mollit et voluptate Lorem labore amet.
            </p>
            <div class="hero__references">
                <a href="/blog" use-arrow>View our posts</a>
                <a href="/research">Research</a>
            </div>
        </article>
        <article class="services">
            <h1 class="services__header">
                Our Service
                <div>
                    <button type="button" id="previous__service">←</button>
                    <button type="button" id="next__service">→</button>
                </div>
            </h1>
            <ServiceReferences class="services__references"/>
            <div class="services__image">
                <img src={service_img} alt="service" />
            </div>
            <h2>
                Ad veniam ullamco fugiat reprehenderit incididunt elit deserunt
                eu non. Dolor pariatur velit anim aute nisi dolor qui. Eu
                laboris sit culpa est nulla consectetur aliquip consectetur non.
            </h2>
            <a href="/services" use-arrow>Discover our missions</a>
            <ProjectsCarousel />
            <section class="services__info">
                <h2 class="services__info__header">Our Lab</h2>
                <div class="services__info__reference">
                    <a href="/lab">See all</a>
                </div>
                <p class="services__info__description">
                    Voluptate voluptate commodo adipisicing nostrud consectetur
                    pariatur culpa aute adipisicing. Anim fugiat tempor eiusmod
                    sunt ipsum cupidatat enim occaecat non officia anim
                    excepteur sunt. Consequat ullamco labore aliquip fugiat
                    cupidatat deserunt do eu. Esse deserunt sunt incididunt ea
                    et do laborum officia qui sit est nostrud. Fugiat velit
                    incididunt in cillum mollit ut laborum nulla officia magna
                    nostrud et et. Velit in eiusmod ipsum qui. Velit elit qui
                    est quis anim anim non laboris consequat nostrud culpa.
                    Incididunt fugiat nulla commodo Lorem elit ex ullamco elit.
                    Eiusmod eu excepteur ea dolore consequat irure consectetur.
                </p>
                <span class="services__info__experience">
                    <b>20+</b> Days of experience 😏
                </span>
            </section>
        </article>
        <article class="roadmap">
            <h1>Roadmap</h1>
            <p>
                Occaecat amet ullamco laborum consectetur sit elit irure
                incididunt sint nulla. Fugiat voluptate fugiat sint anim tempor
                ut. Occaecat excepteur consequat veniam ad quis in.
            </p>
            <ImageCarousel class="roadmap__carousel" imgs={roadmap_imgs}/>
        </article>
        <article>
            <Contact />
        </article>
    </main>
</Layout>
<script>
    let services_show_controller = {
        prev: document.getElementById("previous__service"),
        next: document.getElementById("next__service"),
    };
    // services_show_controller.prev.addEventListener("onclick", lastService);
    // services_show_controller.next.addEventListener("onclick", nextService);
    // let counter = 0;
    // function nextService() {
    // 	counter++;
    // }
    // function lastService() {
    // 	counter--;
    // }
</script>

<style>
    main {
        width: 100%;
        overflow: hidden;
    }
    article {
        position: relative;
        padding: 0 var(--padding-lr);
        margin-bottom: var(--margin-bt-large);
    }
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem 50% 0 var(--padding-lr);
        text-shadow: var(--shadow-txt) var(--color-background);
    }
    .hero::before,
    .hero::after {
        content: "";
        position: absolute;
        inset: calc(var(--radius-large) / -2) -5% calc(var(--radius-large) / -2)
            30%;
        z-index: -1;
    }
    .hero::before {
        border-radius: var(--radius-large) 0 0 var(--radius-large);
        background-image: var(--bg-url);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: var(--color-text);
    }
    .hero::after {
        transform: scale(105%);
        box-shadow: inset 0 0 3.5rem 8rem var(--color-background);
    }
    .hero > h1 {
        margin-bottom: calc(var(--margin-bt-normal) / 2);
    }
    .hero > p {
        padding-right: 30%;
        margin-bottom: var(--margin-bt-normal);
    }
    .hero__references {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .hero__references > a {
        padding: var(--padding-bt);
        border: 2px solid var(--color-secondary);
        border-radius: 3rem;
    }
    .hero__references > a:first-child {
        background-color: var(--color-secondary);
        text-shadow: none;
        color: var(--color-background);
    }
    .services__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .services {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        gap: 2rem;
    }
    .services > * {
        margin-bottom: 0;
        margin-top: 0;
    }
    #previous__service,
    #next__service {
        font-size: 4rem;
        line-height: 4rem;
        margin-left: 1rem;
        cursor: pointer;
    }
    #next__service {
        line-height: 3rem;
        padding: 0.2rem 2rem 0.7rem 2rem;
        border-radius: 3rem;
        background-color: var(--color-overlay);
    }
    .services__references {
        --content-gap: 2rem;
        --border-width: 3px;
        position: relative;
        display: flex;
        overflow: hidden;
        width: 100%;
        gap: var(--content-gap);
        padding: 2rem 0 0 2rem;
    }
    .services__references :global(p) {
        flex: 1 0 calc(50% - var(--content-gap));
    }
    .services__references::before,
    .services__references::after {
        content: "";
        position: absolute;
        inset: 0;
    }
    .services__references::before {
        border: var(--border-width) solid transparent;
        background: linear-gradient(var(--color-secondary), transparent 50%),
            border-box;
        background-size: calc(100% + var(--border-width) * 2)
            calc(100% + var(--border-width) * 2);
        background-position: center;
        -webkit-mask: linear-gradient(#fff 0 0) padding-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        border-radius: var(--radius-normal);
        mask-composite: exclude;
    }
    .services__image {
        position: relative;
    }
    .services__image > img {
        width: 100%;
        aspect-ratio: 16 / 9;
        border-radius: var(--radius-large);
    }
    .services__image::after {
        content: "";
        position: absolute;
        inset: 0;
        transform: scale(105%);
        box-shadow: inset 0 0 3rem 6rem var(--color-background),
            0 0 3rem 3rem var(--color-background);
    }
    .services > h2 {
        padding: 0 calc(var(--padding-lr) * 2);
        text-align: center;
    }
    .services > a {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: fit-content;
        padding: var(--padding-bt);
        color: var(--color-background);
        background-color: var(--color-text);
        border-radius: var(--radius-large);
    }
    .services__info {
        margin: 2rem 0;
        display: grid;
        gap: 1rem;
        grid-template-areas:
            "h d d"
            "r d d"
            "r s s";
        grid-template-columns: 40% 30% 30%;
        font-size: 1.25rem;
    }
    .services__info__header {
        grid-area: h;
    }
    .services__info__description {
        grid-area: d;
        text-align: justify;
    }
    .services__info__reference {
        grid-area: r;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .services__info__reference > a {
        font-size: 3em;
        color: var(--color-background);
        background-color: var(--color-text);
        padding: 2rem 3rem;
        border-radius: 3em;
        text-transform: uppercase;
    }
    .services__info__experience {
        grid-area: s;
        display: flex;
        justify-content: space-between;
        font-size: 2em;
        font-weight: 300;
    }
    .roadmap {
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .roadmap > *:not(.roadmap__carousel) {
        padding: 0 var(--padding-lr);
    }
    .roadmap > p {
        font-size: 1.5em;
    }
    .roadmap__carousel {
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        counter-reset: roadmap_img;
        padding-top: 10%;
        transform: rotate(5deg) scale(105%);
    }
    .roadmap__carousel :global(img) {
        width: 100%;
        height: 100%;
    }
    .roadmap__carousel > :global(*) {
        flex-shrink: 0;
        position: relative;
        --idx_rm_height: calc(var(--radius-large) * 3.5);
        height: var(--idx_rm_height);
        aspect-ratio: 1.5;
        border-radius: var(--idx_rm_height);
        overflow: hidden;
        margin-right: 1rem;
    }
    .roadmap__carousel > :global(*)::after {
        counter-increment: roadmap_img;
        content: "PH" counter(roadmap_img);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--color-overlay);
        backdrop-filter: blur(5px);
        padding: 1em 3em;
        border-radius: var(--radius-normal);
        overflow: hidden;
    }
</style>
