---

---
<header>
    <a class="left" href="/">SCIENCE Lab</a>
    <div class="right">
        <a href="/page1">Page1</a>
        <a href="/page2">Page2</a>
        <a class="highlight" href="/page3">Page3</a>
    </div>
</header>

<style>
    header {
        position: fixed;
        left: 0; right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>