---
import NavBarIcon from "../icons/NavBarIcon.astro";
import Icon from "./Icon";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const vibing_cat_url = new URL("/media/vibing-cat.gif", canonicalURL);
---

<header style={`--bg-header-img: url(${vibing_cat_url.toString()})`}>
    <a class="left" href="/">Science Lab</a>
    <nav class="right">
        <Icon id="colorscheme_switcher" src="icon/ColorSchemeIcon.svg" client:load/>
        <NavBarIcon class="right__icon" id='dropdown-button'/>
        <div id='dropdown' class="right__dropdown">
            <a href="/pomodoro">Pomodoro</a>
            <a href="/blog">Blog</a>
            <a href="/join" class="register">Join now</a>
        </div>
    </nav>
</header>

<script>
    import { getColorScheme, setColorScheme } from "../utils/color-scheme.js";
    let isDarkMode = getColorScheme() === "dark";
    const colorSchemeSwitcher = document.getElementById("colorscheme_switcher");

    colorSchemeSwitcher.addEventListener("click", () => {
        setColorScheme(isDarkMode ? "light" : "dark");
        isDarkMode = !isDarkMode;
    });

    const dropdownButton = document.getElementById('dropdown-button');
    const dropdown = document.getElementById('dropdown');

    let isOpen = false;
    const openDropdown = () => {
        isOpen = true;
        dropdown.setAttribute('open', '');
        dropdownButton.classList.add('hover');
    }
    const closeDropdown = () => {
        isOpen = false;
        dropdown.removeAttribute('open');
        dropdownButton.classList.remove('hover');
    }
    dropdownButton.addEventListener('click', () => {
        (!isOpen) ? openDropdown() : closeDropdown();
    });
    window.addEventListener('click', (ev) => {
        const dropdownBound = dropdown.getBoundingClientRect();
        if (ev.pageX < dropdownBound.left || ev.pageX > dropdownBound.right) return closeDropdown();
        if (ev.pageY < dropdownBound.top || ev.pageY > dropdownBound.bottom) return closeDropdown();
    });
</script>

<style>
    /* For desktop: */
    header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem var(--padding-lr);
        color: var(--color-background);
        background-color: var(--color-overlay);
        backdrop-filter: blur(5px);
        box-shadow: 0 1rem 2rem 0 var(--color-fade);
        z-index: 99999;
        margin-bottom: 3rem;
        text-transform: uppercase;
        font-size: var(--fontsize-normal);
        font-family: var(--font-strong);
        font-weight: bold;
    }
    .right {
        --item-gap: clamp(1rem, 5vw, 3rem);
        display: flex;
        align-items: center;
        gap: var(--item-gap);
    }
    .register {
        padding: 0.2rem 1rem;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(45deg, var(--color-gradient-bt));
        background-size: cover;
        border-radius: 1em;
        text-shadow: none;
    }
    .right__icon {
        display: none;
    }
    .right__dropdown {
        display: flex;
        align-items: center;
        gap: var(--item-gap);
        white-space: nowrap;
    }

    @media only screen and (max-width: 1023px) {
        /* For tablets: */
        .right__icon {
            display: block;
            width: 1.5em;
            transition: color 0.3s ease;
        }
        .right__dropdown {
            position: absolute;
            top: -10%; left: 0; right: 0;
            padding: calc(1.5em + 3rem) var(--padding-lr) 0rem var(--padding-lr);
            flex-direction: column;
            justify-content: center;
            gap: 0;
            opacity: 0;
            visibility: hidden;
            text-align: end;
            white-space: nowrap;
            background-image: var(--bg-header-img);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-bottom: 1rem;
            transition: all 0.3s ease;
            z-index: -1;
        }
        .right__dropdown > * {
            font-size: 1rem;
            padding: 0.5rem 0;
            width: 100%;
        }
        .right__dropdown[open] {
            display: flex;
            top: 0;
            opacity: 1;
            visibility: visible;
        }
        .right__dropdown::before {
            content: "";
            position: absolute;
            inset: 0;
            background-color: var(--color-text);
            opacity: 0.5;
            z-index: -1;
        }
    }
</style>
