---
import NavBarIcon from "../icons/NavBarIcon.astro";
import ColorSchemeIcon from "../icons/ColorSchemeIcon.astro";
const vibing_cat_url = new URL("/media/vibing-cat.gif", Astro.url);
---
<header style={`--bg-header-img: url(${vibing_cat_url.toString()})`}>
    <a class="left" href="/">SCIENCE Lab</a>
    <nav class="right">
        <ColorSchemeIcon id="colorscheme_switcher"/>
        <NavBarIcon class="right__icon"/>
        <div class="right__dropdown">
            <a href="/page1">Page1</a>
            <a href="/page2">Page2</a>
            <a href="/join" class="register">Join now</a>
        </div>
    </nav>
</header>

<script>
    import { getColorScheme, setColorScheme } from "../utils/color-scheme.js";
    let isDarkMode = getColorScheme() === "dark";
    const colorSchemeSwitcher = document.getElementById("colorscheme_switcher");

    colorSchemeSwitcher.addEventListener("click", () => {
        setColorScheme(isDarkMode ? "light" : "dark");
        isDarkMode = !isDarkMode;
    });
</script>

<style>
    /* For desktop: */
    header {
        position: fixed;
        top: 0;
        left: 0; right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem var(--padding-lr);
        background-color: var(--color-overlay);
        backdrop-filter: blur(5px);
        box-shadow: 0 8px 32px 0 var(--color-fade);
        z-index: 99999;
        margin-bottom: 3rem;
        text-transform: uppercase;
        font-size: var(--fontsize-normal);
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        border-bottom: 2px solid var(--color-overlay);
    }
    .right {
        --item-gap: clamp(1rem, 5vw, 3rem);
        display: flex;
        align-items: center;
        gap: var(--item-gap);
    }
    .register {
        padding: 0.2rem 1rem;
        background-color: var(--color-text);
        color: var(--color-background);
        border-radius: 1em;
        text-shadow: none;
    }
    .right__icon {
        display: none;
    }
    .right__dropdown {
        display: flex;
        align-items: center;
        gap: var(--item-gap);
        white-space: nowrap;
    }

    @media only screen and (max-width: 1023px) {
        /* For tablets: */
        .right__icon {
            display: block;
            width: 1.5em;
            transition: color 0.3s ease;
        }
        .right__dropdown {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            padding: calc(1.5em + 3rem) var(--padding-lr) 0rem var(--padding-lr);
            flex-direction: column;
            justify-content: center;
            gap: 0;
            height: 0;
            text-align: end;
            white-space: nowrap;
            transition: all 0.3s ease;
            z-index: -1;
        }
        .right__dropdown > * {
            padding: 0;
            font-size: 0;
            opacity: 0;
            width: 100%;
            transition: font-size 0.3s ease;
        }
        .right__icon:hover ~ .right__dropdown {
            padding-bottom: 1rem;
            height: fit-content;
            background-image: var(--bg-header-img);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        .right__icon:hover ~ .right__dropdown > * {
            font-size: 1rem;
            opacity: 1;
            padding: 0.5rem 0;
        }
        .register {
            background-color: unset;
            color: var(--color-text);
            border-top: 2px solid currentColor;
            border-radius: 0;
        }
    }
</style>