<header>
    <a class="left" href="/">SCIENCE Lab</a>
    <nav class="right">
        <a href="/page1">Page1</a>
        <a href="/page2">Page2</a>
        <a href="/join">Join now</a>
    </nav>
</header>

<style>
    header {
        position: fixed;
        top: 0;
        left: 0; right: 0;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        padding: 1rem var(--padding-lr);
        background-image: linear-gradient(var(--color-background), transparent);
        text-shadow: 0 0 5px var(--color-background);
        z-index: 99999;
        margin-bottom: 3rem;
    }
    .left {
        font-size: var(--fontsize-normal);
    }
    .right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 5rem;
    }
    .right > *:last-child {
        padding: 0.2rem 1rem;
        border-radius: 1em;
        background-image: linear-gradient(to bottom right, var(--color-gradient-lr));
        color: var(--color-background);
        text-shadow: none;
    }
</style>