---
import { Image } from "@astrojs/image/components";

const { class: className, id, style, src, alt, ...props } = Astro.props;
---

<div class={`img ${className || ""}`} id={id} style={style}>
    <Image
        src={src}
        alt={alt}
        format={"webp"}
        fit={"cover"}
        position={"center"}
        loading={"lazy"}
        {...props}
    />
</div>

<style is:global>
    .img {
        overflow: hidden;
    }
</style>
