---
import { Img } from "astro-imagetools/components";
const { class: className, id, style, ...props } = Astro.props; 
---

<div class={`img ${className || ""}`} id={id} style={style}>
    <Img {...props} />
</div>

<style is:global>
    .img {
        overflow: hidden;
    }
</style>