---
const { class: className } = Astro.props; 
---

<section class={className}>
Aute ut voluptate nisi esse. Elit nostrud proident enim in. Ea duis culpa ut non velit amet aute. Adipisicing commodo pariatur ut culpa enim non commodo mollit culpa ea.

Nisi dolore eu sint pariatur et amet. Ex reprehenderit est enim consequat officia quis anim eiusmod sint ipsum. Laborum id laborum veniam eu.
</section>

<style>

</style>