---

---

<div class="peer">
    <video src=""></video>
    <span class="peer__username">Me</span>
</div>

<script>

</script>

<style>
    .peer {
        position: relative;
        background-color: var(--color-fade);
        border-radius: 1em;
    }
    .peer__username {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 0.5em 1em;
        right: 1em;
        bottom: 1em;
        border-radius: 0.5em;
    }
    .peer > video {
        width: 100%;
        height: 100%;
    }
</style>