---
import "../styles/reset.css";

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;400&display=swap');
	:root {
		--color-background: #181823;
		--color-primary: #537FE7;
		--color-secondary: #C0EEF2;
		--color-text: #E9F8F9;
		--color-overlay: rgba(255, 255, 255, 0.1);
		--padding-lr: 4rem;
		--margin-bt-large: 5rem;
		--margin-bt-normal: 3rem;
		--shadow-txt: 0 0 5px;
		--radius-large: 5rem;
		--radius-normal: 3rem;
	}
	body {
		display: flex;
		flex-direction: column;
		font-family: 'Kanit', sans-serif;
		overflow-x: hidden;
		background-color: var(--color-background);
		color: var(--color-text);
		box-sizing: border-box;
	}
	h1 {
		font-size: 4rem;
		margin-bottom: 1rem;
		line-height: 100%;
	}
	p {
		font-weight: 300;
		font-size: 1.2rem;
	}
	i {
		font-style: italic;
		font-weight: 100;
	}
	b {
		font-weight: bold;
	}
</style>
